ul {
	margin-bottom: 0px !important;
	height: 100%;
}

h1 {
	font-size: 1em;
	padding: 0px;
	margin: 0px;
	text-align: left;
}

#list h1, #start h1 {
	font-weight: normal;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0;
}